#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

.logo {
  height: auto;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  width: 40px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 1em;
}

.TextArea {
  width: 80%;
  margin: 0 auto;
  height: auto;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #060606;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  resize: none;
  overflow: auto;
}

input[type='submit'] {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin:10px;
}

input[type='submit']:hover {
  background-color: #e0e0e0;
}

.date{
  background-color: #060606;
}

.read-the-docs {
  color: #888;
}
